* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.container{
  padding: 50px;
  padding-top: 0;
}

.movieSingolo{
  margin-top: 50px;
}
.searchBar{
  padding: 50px;
  padding-bottom: 0;
}


/*  */
