* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Helvetica Neue, Arial, sans-serif;
  overflow-x: hidden;

}
body{
  background: rgb(35, 35, 35);
  padding-bottom: 60px;
}
.contenitoreHome{
  margin: auto;
  /* padding-left: 70px; */
}

.container{
  /* padding: 50px; */
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.discoverContainer{
  position: relative;
  margin: auto;
  margin-bottom: 60px;
  padding-right: 40px;
}

.orizzonatale{
  margin: auto;
  position: relative;
  margin-left: 40px;
}
/* .pop{
  display: flex;
} */

.big-title{
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  font-weight: lighter;
}
.moda .big-title{
  font-size: 4rem;
}
.big-title span{
  font-weight: bold;
}


.text-movie{
  width: 300px;
}


.searchBar{
  padding-bottom: 0;
  width: 100%;
  background: #000;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBar input {
  width: 250px;
  margin-right: 10px;
  padding-left: 15px;
}
.searchBar input , .searchBar button{
  height: 30px;
  border-radius: 20px;
  border:none;
  border-color:none;
}
.searchBar input:focus , .searchBar button:focus{
  outline: none
}
.searchBar button{
  width: 80px;
  background: black;
  color: white;
  font-size: 16px;
}
.out{
  display: none;
}
.apri{
  text-decoration: none;
}
.apri i{
  color: white;
  font-size: 20px;
}

.container .movieSingolo:hover {
  opacity: 1;
}
.lang img{
  width: 50px;
  margin: 15px 0;
}


/* filtri bar */
.filtri-bar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 50px;
  margin-bottom: 40px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  /* background: rgb(229,9,20); */
}
.filtri-bar a{
  display: inline-block;
  background: rgb(18, 18, 18);
  border: solid 2px red;
  border-radius: 21px;
  width: 140px;
  padding: 7px 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;

}
a.attivo{
  background: rgb(229,9,20);
}




/* singolo film  */
.movieSingolo{
  position: relative;
  cursor: pointer;
  box-shadow: 3px 12px 20px black;
  transform: scale(0.8);
  transition: 0.3s;
}
.movieSingolo:hover{
  opacity: 0.6;
  box-shadow: 3px 12px 40px black;
  transform: scale(0.9);
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #212121;
  padding: 40px;
}
.dettagli{
  color: white;
}
.dettagli *{
  margin-top: 10px;
}

.movieSingolo:hover .overlay{
  opacity: 0.9;
}

.title{
  font-size: 20px;
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

}
.sinossi{
  line-height: 2rem;
}






.btn-ris{
  display: flex;
  width: 130px;
  height: 40px;
  background: white;
  margin: 30px 20px;
  border-radius: 40px;
  float: right;
  justify-content: center;
  align-items: center;
}
.hide{
  display: none;
}



/* carosello  */


.carousel ul {
  display: inline-flex;
}
.carousel {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
}

.carousel ul li p{
  color: white;
}

.btn-caro{
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  top: 50%;
  border-radius: 50%;
  box-shadow: 2px 3px 10px black;
  opacity: 0.5;
  transition: opacity .5s;
}
.btn-caro:hover{
  opacity: 1;
  cursor: pointer;
}

.caroPrev{
  left: 2%;
}



.caroNext{
  right: 2%;;
}


.btn-caro i {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* trending */
.tren .movieSingolo{
  display: inline-block;
}
.tren{
  display: flex;
  flex-wrap: nowrap;
}
.moda{
  display: flex;
  justify-content: space-between;
  padding:0 20px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}
.small-box{
  margin-right: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.cta{
  display: inline-block;
  color: white;
  border:solid 2px white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}




.filtri-bar{
  display: none;
}

.btnFiltri{
  display: none;
  font-size: 2rem;
  margin-top: 30px;
  margin-left: 9%;
}
.btnFiltri i{
  color: white;
}

.filtraggio{
  display: flex;
  flex-wrap: wrap;
}


/* animazione menu filtri */
#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: white;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.orizzonatale{
  position: relative;
}




.relativo{
  position: relative;
}
.relativo h1{
  margin-left: 40px;
  color: white;
  font-weight: lighter;
  font-size: 45px;
  letter-spacing: 3px;
}

.relativo .movieSingolo{
  display: flex;

}

.filmSingolo{
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
}



.filmSingolo .movieSingolo{
  position: inherit;
}



.schedaFilm{
  display: none;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1500px;
  background: rgb(0, 0, 0);
  color: white;
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  justify-content: space-between;
  position: relative;
  margin-bottom: 150px;
  min-height: 630px;
}
.full{
  position: relative;
  width: 100%;
  opacity: 1;
}
.schedaFilm .half{
  opacity: 1;
  padding: 40px;
  max-width:45%;
  min-width:150px;
  height: 100%;
  background: black;
  padding-top: 80px;
  /* display: flex;
  align-items: center; */
}

.infoSingolo{
  padding: 10px 0;
}

.schedaFilm .title{
  opacity: 0;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  /* animation-name: opacita; */
  animation-delay: 0.3s;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  white-space: normal;
}
.dataRilascio{
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  margin-bottom: 20px;
}

.half .sintesi{
  width: 100%;
  opacity: 0;
  font-size: 16px;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: normal;
  /* animation-name: opacita; */
  animation-delay: 0.7s;
  animation-duration: .3s;
  animation-fill-mode: forwards;
 white-space: normal;
}
.half .rate{
  display: block;
  opacity: 0;
  /* animation-name: opacita; */
  margin: 30px 0;
  animation-delay: 1s;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}
.half .genere{
  opacity: 0;
  animation-delay: 1.3s;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;
  margin-bottom: 30px;
}

.genere > span{
  margin-right: 10px;
  border:solid 1px red;
  padding:10px 15px;
  margin-top: 10px;
}

.schedaFilm .play{
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: red;
  opacity: 0;
  /* animation-name: opacita; */
  animation-delay:1.6s;
  animation-duration: .3s;
  animation-fill-mode: forwards;

}



@-webkit-keyframes opacita {
  0% : {  opacity: 0;}
  50% {  opacity: 0.5;}
  100% {opacity: 1;}
}


.play i{
  color: red;
  margin-right: 20px;
  font-size: 3rem;
}

.vedi{
  display: none;
  opacity: 1;
  position: absolute;
  transition:all 0.5s;
}

.active{
  opacity: 1;
  width: 90vw;
  margin-bottom: 120px;

}






.container .genere{
  display: flex;
  flex-wrap: wrap;
}


.videoFilm{
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
  margin-bottom: 60px;
}
.videoFilm iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}



.tab{
  display: block;
  position: absolute;
  right: 0;
  top:50px;
  background: red;
  padding: 10px;
  z-index: 1000;
}
.secondo .tab{
  display: none;
}
.chiudiScheda{
  display: block;
  position: absolute;
  right: 0;
  top:0;
  background: black;
  padding: 10px;
  z-index: 1000;
  border-bottom-left-radius: 25px;
}
.chiudiScheda:hover{
  background: red;
  cursor: pointer;
}


.corner{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  display: flex;
  min-width: 260px;
  padding: 20px 30px;
  justify-content: space-between;
}
.corner p{
  font-size: 3rem;
  color: red;
  font-weight: lighter;
  margin-top: 15px;
}
.corner h3{
  font-weight: normal;
}
.corner .separe{
  height: 100px;
  width: 1px;
  background: red;
}
.secondo .corner{
  display: none;
}

.chiudiScheda i.fa{
  display: block;
  font-size: 1.2rem;
  padding: 10px;
}



.btn-schedaFilm{
  position: absolute;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.btn-schedaFilm a{
  width:50%;
  background: red;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.btn-schedaFilm a.in{
  background: white;
  color: red
}

.listaEpisodi{
  display: none;
  padding: 40px;
  width:100%;
  height: 100%;
  background: black;
  padding-top: 60px;


}
.listaEpisodi .list{
  list-style: none;
  min-height: 350px;
  display:flex;
  overflow-x: auto;
  white-space: nowrap;
}


.epi{
  min-width: 340px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}
.epi img{
  margin:15px;
  margin-left:0px;
  width:100%;
  float: left;

}


.tramaEpisodio{
  max-width: 342px;
  margin-top:10px;
  margin-bottom: 30px;
  padding-right: 40px;
  line-height: 1.7rem;
  font-size: 17px;
  font-weight: normal;
  white-space: normal;

}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.5
}
.margine{
  margin-left: 40px;
}
.margine2{
  margin-right: 40px;
}

.nextMovie{
  position: absolute;
  font-size: 30px;
}


.trailer{
  display: none;
  min-height: 600px;
}

.trailer iframe{
  width:100%;
  height: 600px;
}
.opaco2{
  opacity: 1!important;
}
.opaco{
  opacity: 1!important;
  transform: scale(0.9);
}
.trasparente{
  opacity: 0.4;
}

.navSeason a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
}
.navSeason{
  display: flex;
  width: 300px;
  justify-content: space-between;
}






.flexa{
  display: flex;
}











@media only screen and (max-width: 1500px) {

  .small-box{
    width: 100%;
    align-items: center;

  }

  .discoverContainer{
    width:100%;
    margin: auto;
  }
  .carousel{
    width:100%;
    margin: auto;
    margin-bottom: 80px;
  }


}





@media only screen and (max-width: 1200px) {

  .orizzonatale{
    width: 100%;

  }
  .moda{
    display: flex;
    flex-wrap: wrap;
  }
  .discoverContainer{
    width:100%;
    margin: auto;
  }
  .carousel{
    width:100%;
    margin: auto;
    margin-bottom: 60px;

  }
  .schedaFilm .half{
    max-width: 100%;
  }
  .full{
    opacity: 0.9
  }




}
@media only screen and (max-width: 700px) {

  .orizzonatale{
    padding: 0 30px;
  }

  .btn-schedaFilm {
    width: 80%
  }



}


@media only screen and (max-width: 550px) {

  .corner{
    position: relative;
    margin-top:30px;
  }



  .epi {
    min-width: 280px;
  }
  .listaEpisodi , .schedaFilm .half {
    padding: 15px;
    padding-top: 40px;
  }
  .navSeason{
    margin-top: 40px;
    padding-left: 20px;
  }

  .infoSingolo{
    padding: 0 10px;
    padding-top: 50px;

  }


}
